* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 22vh;
    width: 100%;
    max-height: 28vh;
    background-color: #1a1a1a; /* Dark background */
    background-position: center;
    background-size: auto;
    position: relative;
    margin-bottom: 20px; /* Add space below the header */
    text-align: center; /* Center align the content within the header */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 120px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #ffffff; /* White text */
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #f44336; /* Red underline */
    display: block;
    margin: auto;
    transition: 0.35s;
}

.nav-links ul li:hover::after {
    width: 100%;
}
/* Reset some default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Style the form */
form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="datetime-local"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: border 0.3s ease;
}

form input[type="text"]:focus,
form input[type="number"]:focus,
form input[type="datetime-local"]:focus,
form textarea:focus,
form select:focus {
    border: 1px solid #333;
}

form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #444;
}

form label[for="image"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease;
}

form label[for="image"]:hover {
    background-color: #444;
}

/* Responsive styles */
@media(max-width: 600px) {
    .container {
        width: 100%;
    }
}
